[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pylint = "*"
waifustream-v2 = {editable = true,path = "."}

[packages]
rq = "*"
attrs = "*"
redis = "*"
imagehash = "*"
requests = "*"
pillow = "*"
rq-dashboard = "*"
bs4 = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
