@font-face {
    font-family: 'Yukarimobile';
    src: local('Yukarimobile'),
        url('fonts/Yukarimobile.woff2') format('woff2'),
        url('fonts/Yukarimobile.woff') format('woff'),
        url('fonts/yukarimobile.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}



.primary-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#index-filter-settings {
    width: 50rem;
}

.filter-row {
    display: flex;
    justify-content: space-between;
}

.filter-row>.filter-col {
    margin-left: 0.5rem;
    margin-right: 0.5rem;

    flex: 1;
}

.filter-row>.filter-col:first-child {
    margin-left: 0;
}

.filter-row>.filter-col:last-child {
    margin-right: 0;
}

.btn-row {
    display: flex;
}

#index-filter-go {
    margin-left: auto;
}

#index-list-container {
    width: 90vw;
    text-align: center;
}

.result-card {
    width: 15rem;
    height: 16rem;

    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    vertical-align: top;
}

.result-card-image {
    max-width: 14rem;
    max-height: 14rem;
    margin: 0 0.5rem;
    margin-top: 0.5rem;
}